
StudentMgt/crudStudent/crudStudent/obj/Debug/net6.0/crudStudent.pdb
StudentMgt/crudStudent/crudStudent/obj/Debug/net6.0/crudStudent.genruntimeconfig.cache
StudentMgt/crudStudent/crudStudent/obj/Debug/net6.0/crudStudent.dll
*.vsidx
